<button type="button" class="btn btn-default" data-bind="attr: {'title': ResetAllTooltip}, click: resetAllAlarms, disable: !EnableResetAll()">
    <i class="fa fa-bell-slash"></i>
</button>
<button type="button" class="btn btn-default" data-bind="attr: {'title': WipeTooltip}, click: openWipeAlarmDialog">
    <i class="fa fa-trash-o"></i>
</button>
<button type="button" class="btn btn-default" data-bind="attr: {'title': SettingsTooltip}, click: openSettingsDialog">
    <i class="fa fa-cog" aria-hidden="true"></i>
</button>