<button type="button" class="btn btn-default" data-bind="attr: {'title': SaveDesc}, click: setAllVar, disable: !IsSaveButtonEnabled()">
    <i class="fa fa-download" aria-hidden="true"></i>
    <!--<i class="fa fa-floppy-o" aria-hidden="true"></i>-->
</button>
<button type="button" class="btn btn-default" data-bind="attr: {'title': PlotTooltip}, click: openPlotDialog">
    <i class="fa fa-line-chart" aria-hidden="true"></i>
</button>
<button type="button" class="btn btn-default" data-bind="attr: {'title': SettingsTooltip}, click: openSettingsDialog">
    <i class="fa fa-cog" aria-hidden="true"></i>
</button>
